body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border: 1px solid #000;
}

.cell {
  background-color: transparent;
  border: 1px solid #000;
  height: 0;
  padding-bottom: 100%;
}
.cell-activated {
  background-color: green;
}
