body {
  font-family: Poppins;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 10), 35px);
  grid-template-rows: repeat(var(--rows, 10), 35px);
  gap: 2px;
  user-select: none;
}

.box {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: lightblue;
}
