.products {
  margin: 20px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 250px;
  list-style: none;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Imp on clickables */
}

.products__single > img{
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 3px;
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span{
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__disable{
  opacity: 0;
}

.pagination__selected{
  background-color: rgb(220, 220, 220);
}