* {
  font-family: Arial;
}

.container {
  background-color: #24232b;
  padding: 24px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copyBtn {
  height: 30px;
  font-size: 10px;
}

.charlength {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.charlength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.errorMessage {
  color: red;
  padding-bottom: 5px;
}

.password-strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  color: white;
}
