/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #f6f6ef;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  padding: 16px;
}

/* Link styles */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

/* Custom App styles */
.custom-app {
  max-width: 600px;
  margin: 0 auto;
}

.custom-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 24px;
}

.custom-items {
  display: grid;
  row-gap: 16px;
}

.custom-post {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  row-gap: 8px;
}

.custom-post__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.custom-post__metadata {
  font-size: 14px;
  color: #444;
}

.custom-loading {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
}

.custom-load-more-button {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
}

.custom-load-more-button:not(:disabled) {
  cursor: pointer;
}

.custom-load-more-button:hover {
  background-color: #e65c00;
}

.loading {
  opacity: 0.6;
}
